@page "/Manage"
@using Bifrost.Commands
@using Bifrost.Commands.Portals
@using Bifrost.Extensions
@using Bifrost.Features.Portals.Commands
@using Bifrost.Models.Portals
@using Bifrost.Queries.Portals
@using Bifrost.Shared.Dialogs
@using MediatR

@attribute [Authorize]
@rendermode InteractiveAuto

@inject ISender Mediator

<PageTitle>Bifrost - Manage</PageTitle>

<h3>Manage Portals</h3>

<FluentDataGrid ItemsProvider="portalProvider"
                Virtualize="true"
                ItemSize="46"
                GenerateHeader="GenerateHeaderOption.Sticky"
                TGridItem="PortalDefinition"
                style="height: 405px; overflow:auto;"
                @ref="grid">
    <ChildContent>
        <PropertyColumn Property="@(c => c.Name)" Sortable="true" Style="color:burlywood" />
        <PropertyColumn Property="@(c => c.VpnType)" Sortable="true" Title="VPN Type" />
        <PropertyColumn Property="@(c => c.MaxInstanceCount)" Sortable="true" Title="Max Instances" Align="Align.Center" />
        <PropertyColumn Property="@(c => c.CreationDate)" Sortable="true" />
        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())" @onclick="@(() => EditPortal(context))" />
            <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())" @onclick="@(() => DeletePortal(context))" />
        </TemplateColumn>
    </ChildContent>
    <EmptyContent>
        <FluentIcon Value="@(new Icons.Filled.Size24.Crown())" Color="@Color.Accent" />&nbsp; Nothing to see here. Carry on!
    </EmptyContent>
    <LoadingContent>
        <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
            Loading...<br />
            <FluentProgress Width="240px" />
        </FluentStack>
    </LoadingContent>
</FluentDataGrid>

@code {
    GridItemsProvider<PortalDefinition> portalProvider = default!;
    FluentDataGrid<PortalDefinition> grid = default!;

    protected override void OnInitialized()
    {
        portalProvider = async req =>
        {
            var result = await LoadPortals(req);
            if (!result.Success || result.Data == null)
                return GridItemsProviderResult.From(items: new List<PortalDefinition>(), totalItemCount: 0);

            return GridItemsProviderResult.From(
                items: result.Data.Portals!,
                totalItemCount: result.Data.Total);
        };
    }

    private Task<CommandResponse<GetPortalsResult>> LoadPortals<T>(GridItemsProviderRequest<T> req) =>
        Mediator.Send(new GetPortalsQuery(req.Count ?? 50, req.StartIndex, req.GetOrder()), req.CancellationToken);

    private void EditPortal(PortalDefinition portal)
    {
        Console.WriteLine($"Edit clicked {portal.Name}");
    }

    private async Task DeletePortal(PortalDefinition portal)
    {
        await Mediator.Send(new TriggerPortalDeleteCommand(portal));
        await grid.RefreshDataAsync();
    }
}
