@implements IDisposable
@rendermode InteractiveAuto

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AntiforgeryStateProvider AntiforgeryStateProvider

<img src="svg/Bifrost.svg" alt="Bifrost" class="logo" />
<FluentSpacer />
<FluentStack HorizontalGap="10" HorizontalAlignment="HorizontalAlignment.Right">
    <AuthorizeView>
        <Authorized>
            <FluentButton Id="profile" Appearance="Appearance.Lightweight" IconEnd="@(new Icons.Regular.Size20.ChevronDown())" OnClick="@ToggleMenu" @onkeydown="OnKeyDown">
                @context?.User?.Identity?.Name
            </FluentButton>
            <FluentMenu @bind-Open="_visible" Anchor="profile">
                <div class="menuitem">
                    <FluentAnchor IconStart="@(new Icons.Regular.Size20.Person())" Appearance="Appearance.Stealth" Href="Account/Manage">Manage</FluentAnchor>
                </div>
                <div class="menuitem">
                    <form action="Account/Logout" method="post" id="logoutForm">
                        <input type="hidden" name="@antiforgeryToken?.FormFieldName" value="@antiforgeryToken?.Value" />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <FluentAnchor IconStart="@(new Icons.Regular.Size20.SignOut())" Appearance="Appearance.Stealth" Href="#" OnClick="@Logout">Logout</FluentAnchor>
                    </form>
                    <script>
                        window.submitLogoutForm = () => {
                            document.getElementById("logoutForm").submit();
                        }
                    </script>
                </div>
            </FluentMenu>
        </Authorized>
        <NotAuthorized>
            <FluentAnchor IconStart="@(new Icons.Regular.Size20.Person())" Appearance="Appearance.Stealth" Href="Account/Register">Register</FluentAnchor>
            <FluentAnchor IconStart="@(new Icons.Regular.Size20.Key())" Appearance="Appearance.Lightweight" Href="Account/Login">Login</FluentAnchor>
        </NotAuthorized>
    </AuthorizeView>

    <ThemeToggle />
</FluentStack>

@code {
    bool _visible;
    string? currentUrl;
    AntiforgeryRequestToken? antiforgeryToken;

    private void ToggleMenu() => _visible = !_visible;

    private void OnKeyDown(KeyboardEventArgs args)
    {
        if (args is not null && args.Key == "Escape")
        {
            _visible = false;
        }
    }

    private void Logout() =>
        JSRuntime.InvokeVoidAsync("submitLogoutForm");

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        // <AntiforgeryToken /> in deferred popup not rendered correctly
        // so acquire one here and use it later
        antiforgeryToken = AntiforgeryStateProvider.GetAntiforgeryToken();
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
